{% load static %}

<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet"  href="{% static './bookslot.css' %}">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
   </head>
<body>
  {% if msg %}
  <script>
    alert("Slot Already Taken For This Doctor !");
  </script>
  {% endif %}
  
  <div class="container">
    <div class="title">Book Your Slot</div>
    <div class="content">
      <form action="" method="post">{% csrf_token %}
        
        <div class="user-details">
          <div class="input-box">
            <span class="details">PATIENT NAME</span>
            <input type="text" name="name" placeholder="Enter your name" onkeypress="return allowOnlyLetters(event,this);"  required>
          </div>
          
          <div class="input-box">
            <span class="details">Email</span>
            <input type="email" name="email" onblur="ValidateEmail(document.for ,m1.email)" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$"  placeholder="Enter your email"  required>
            <span style="color:red;font-size:9px;">{% autoescape off%}{{ msg1 }}{% endautoescape%}</span>
          </div>
          <div class="input-box">
            <span class="details">Phone Number</span>
            <input type="text" name="phone" placeholder="Enter your number"minlength="10" maxlength="10" onkeypress="return isNumberKey(event,this)"  required>
          </div> 
          <div class="input-box">
            <span class="details">DATE OF BOOKING</span>
             <fieldset>
               <input type="date" name="date" size="30" class="form-control"min="2023-05-06" max="2023-05-07" onkeypress="return isNumberKey(event,this)"  required>
             </fieldset>
          </div>
          <div class="input-box">
            <span class="details" >Time Of Appoitment You Prefer</span>
            <select name="time">
                <option>10AM</option>
                <option>11AM</option>
                <option>12PM</option>
                <option>3PM</option>
                <option>4PM</option>
               </select>
          </div>
          <div class="input-box">
            
            <span class="details" >Dr You Prefer</span>
            
            <select name="doctor">
              {% for i in doc %}
                <option>{{i.doctor_name}}</option>
              {% endfor %}
               </select>
           
          </div>



          
        </div>
        <div class="gender-details" name="gender">
          <input type="radio" name="gender" id="dot-1" value="Male"required>
          <input type="radio" name="gender" id="dot-2"value="Female"required>
          <input type="radio" name="gender" id="dot-3"value="Not prefer to say"required>
          <span class="gender-title">Gender</span>
          <div class="category">
            <label for="dot-1">
            <span class="dot one"></span>
            <span class="gender">Male</span>
          </label>
          <label for="dot-2">
            <span class="dot two"></span>
            <span class="gender">Female</span>
          </label>
          <label for="dot-3">
            <span class="dot three"></span>
            <span class="gender">Prefer not to say</span>
            </label>

          </div>

        </div>
        <div class="button">  
          <input type="submit" value=" BOOK YOUR SLOT">
        </div>
        
      </form>
    </div>
  </div>
  

<script language="Javascript" type="text/javascript">

function allowOnlyLetters(e, t)
{
   if (window.event)
   {
      var charCode = window.event.keyCode;
   }
   else if (e)
   {
      var charCode = e.which;
   }
   else { return true; }
   if ((charCode > 64 && charCode < 91) || (charCode > 96 && charCode < 123))
       return true;
   else
   {
      alert("Please enter only alphabets");
      return false;
   }
}


</script>

<script type="text/javascript">

        function isNumberKey(evt, obj) {

            var charCode = (evt.which) ? evt.which : event.keyCode
            var value = obj.value;
            var dotcontains = value.indexOf(".") != -1;
            if (dotcontains)
                if (charCode == 46) return false;
            if (charCode == 46) return true;
            if (charCode > 31 && (charCode < 48 || charCode > 57))
                return false;
            return true;
        }



    </script>
    <div style="width:60px;height:60px;position:fixed;right:10px;bottom:10px;">
      <a href="https://wa.me/9985554562"><img src={% static '/images/whatsapp.jpeg'%} style="width:60px;height:60px;" /></a>
    </div>
</body>
</html>
