{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link href="{% static 'about.css' %}" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-sclae=1.0">
 
 
  </head>
  <body>
    
      <div class="about-section">
        <div class="inner-width">
          <h1>About Us</h1>
          <div class="border"></div>
          <div class="about-section-row">
            <div class="about-section-col">
              <div class="about">
                <p>
                    Our website is designed to provide you with the necessary information about hospitals, services, facilities, and doctor Booking. We encourage you to explore our website and learn more about hospital,doctors and the services they offer.
                </p>
                
                <a href="about">Thank You</a>
              </div>
            </div>
            <div class="about-section-col">
              <div class="skills">
                <div class="skill">
                  <div class="title">Rating</div>
                  <div class="progress">
                    <div class="progress-bar p1"><span>90%</span></div>
                  </div>
                </div>
 
                <div class="skill">
                  <div class="title">Easy To Use</div>
                  <div class="progress">
                    <div class="progress-bar p2"><span>95%</span></div>
                  </div>
                </div>
 
                <div class="skill">
                  <div class="title">Fast</div>
                  <div class="progress">
                    <div class="progress-bar p0"><span>100%</span></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div style="width:60px;height:60px;position:fixed;right:10px;bottom:10px;">
        <a href="https://wa.me/9985554562"><img src={% static '/images/whatsapp.jpeg'%} style="width:60px;height:60px;" /></a>
      </div>
  </body>
</html>