{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Dr Akshil MBBS Profile</title>
    <link href="{% static 'hari.css' %}" rel="stylesheet">
	<script src="https://kit.fontawesome.com/b99e675b6e.js"></script>
    
</head>
<body>

<div class="wrapper">
    <div class="left">
        <img src={% static '/images/imageicon.jpeg'%}
        alt="user" width="110   ">
        <h4>Dr Akhil MBBS</h4>
         <p>PHYSICIAN</p>
    </div>
    <div class="right">
        <div class="info">
            <h3>Information</h3>
            <div class="info_data">
                 <div class="data">
                    <h4>Email</h4>
                    <p>akhil@gmail.com</p>
                 </div>
                 <div class="data">
                   <h4>Phone</h4>
                    <p>9592528251</p>
              </div>
            </div>
        </div>
      
      <div class="projects">
            <h3>Experiance</h3>
            <div class="projects_data">
                 <div class="data">
                    <h4>Present</h4>
                    <p>2 Year in City Hospital</p>
                 </div>
                 <div class="data">
                   <h4>Previous</h4>
                    <p>Medical Trust Hospital</p>
              </div>
            </div>
        </div>
      
        <div class="social_media">
            <ul><center>
              <li><a href="bookslot"><i class="book">Book Slot</i></a></li></center>
            
          </ul>
      </div>
    </div>
</div>

</body>
</html>